/* RDC Deposit CSS Document */

#content {
	border: 0;
	background: #fff;
}
#content #login {
	width: 40em;
	margin: 4em auto 3em auto;
	padding: 0;
	font-size: .8em;
	border: 1px solid #ccc;
	text-align:left;
	
}
#login h1 {
	padding: 1em;
	margin: 1em;
	width: auto;
	font: bold 1.2em/1.2em Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background: #999;
	color: #fff;
	
}
#login form {
	width: 32em;
	margin: 0;
	padding: 2em 4em 2em 4em;
	border-top: 0.1em solid #ccc;
	
}
#login form fieldset {
	width: 10em;
	margin: 0 auto;
	padding: 0;
	border: 0;
}
#login form fieldset#submit {
	width: auto;
	margin: 1.2em auto 0 4.4em;
	padding: 0;
	border: 0;
}
#login form fieldset label {
	font: bold 1.2em/1.3em Arial, Helvetica, sans-serif;
}
#login form fieldset#submit input.submit {
	width: auto;
	background-color: #fff;
	font-weight: 900;
	font: bold 1.1em/1.1em Verdana, Arial, Helvetica, sans-serif;
	color: #f60;
	text-transform: uppercase;
	margin: 0;
	border: 1px solid #f60;
	padding: 0.3em;
}