*.iml
*.sc
*.swp
*~
.DS_Store
.classpath
.dans.knaw.nl-yum-repo
.gradle/
.idea/
.project
.settings/
.vagrant/
.venv-mkdocs
.yum-repo
bin/
build/
buildNumber.properties
data-*/
data/
dependency-reduced-pom.xml
etc/
gradle.properties
init-project.sh
out/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
site
target/
venv/
