{% extends "base.html" %}

{% block link %}
	{{ block.super }}
	<style type="text/css" >
	@import url(/media/css/deposit_forms.css);
	</style>
{% endblock link %}

{% block nav %}
	{{ block.super }}
{% endblock nav %}

{% block content %}

<div id="project">
    <div id="projectDetails">
	    <h3>Project {{ project.name }} details</h3>
	    <ul>
	      <li>Contact Name: {{ project.contact_name }}</li>
	      <li>Phone Number: {{ project.contact_phone }}</li>
	      <li>Email: {{ project.contact_email }}</li>
	      <li>Shipping Address: {{ project.shipping_address }}</li>
	      <li>Received Policy: <p>{{ project.received_policy }}</p></li>
	    </ul>
    </div>
</div>
{% endblock %}