{% extends "base.html" %}

{% block title %}Log in{% endblock title %}

{% block styles_extra %}
    <style type="text/css" >
    @import url(/media/css/deposit_login.css);
    </style>
{% endblock styles_extra %}

{% block page_head %}
{% endblock %}

{% block content %}

	{% if form.errors %}
	    <p>Your username and password didn't match. Please try again.</p>
	{% endif %}

   <div id="login">
   <h1>Login</h1>
	<form method="post" action=".">
	   <fieldset>
	   		{{ form.username.errors }}
		   <label for="id_username">Username</label>&nbsp;{{ form.username }}<br />
	   		{{ form.password.errors }}
		   <label for="id_password">Password</label>&nbsp;{{ form.password }}<br />
	   </fieldset>
		<fieldset id="submit">
                <input type="hidden" name="next" value="{{ next }}" />
	    	<input class="submit" name="submit" type="submit" value="Login" />&nbsp;&nbsp;<a href="#">Forgot login information?</a>
		</fieldset>
	</form>
   </div>

{% endblock content %}
