{% extends "base.html" %}
{% load query_tags %}

{% block link %}
  {{ block.super }}
  <style type="text/css" >
  @import url(/media/css/deposit_2col.css);
  </style>
{% endblock link %}

{% block nav %}
  {{ block.super }}
{% endblock nav %}

{% block content %}

<div id="leftbox">
  <div id="page_head">
    <h1>Overview</h1>
  </div>
  <div id="overview_content">
    <div id="reports">
      <h3>My Transfers {% if deposit_user.projects.count %}<span>({{ deposit_user.projects.count }})</span>{% endif %}</h3>

      <ul>
        <li><a href="{% url transfers_url %}?{% querystring query username=user.username  %}">List my transfers</a></li>
        <li><h3 class="border">Transfers by Project</h3></li>
        <ul>
          {% if deposit_user.is_staff %}
            {% for project in projects %}
          <li><a href="{% url transfers_url %}?{% querystring query project_id=project.id %}">{{ project }}</a></li>
            {% endfor %}
          {% else %}
            {% for user_project in deposit_user.projects.all %}
          <li><a href="{% url transfers_url %}?{% querystring query project_id=user_project.project.id username=deposit_user.username  %}">{{ user_project.project }}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </ul>
    </div>
  </div>
</div>

<div id="rightbox">
  <div id="initiateTransfer">
    {% for user_project in deposit_user.projects.all %}
      {% with user_project.project as project %}
        {% if project.network_transfer_type %}
        <div id="nettrans">
        <a href="{% url create_transfer_url project.network_transfer_type %}?project_id={{project.id}}"><img class="title" src="/media/images/createtrans.gif" alt="Create Network Transfer" border="0" width="88" height="66" /></a>
        <span><a href="{% url create_transfer_url project.network_transfer_type %}?project_id={{project.id}}"><img src="/media/images/nettransbut.gif" alt="{{ project.get_network_transfer_type_display }}" width="35" height="35" /></a></span>
        </div>
        {% endif %}
        {% if project.shipment_transfer_type %}
        <div id="shiptrans">
        <a href="{% url create_transfer_url project.shipment_transfer_type %}?project_id={{project.id}}"><img class="title" src="/media/images/createshiptrans.gif" alt="Create Network Transfer" border="0" width="107" height="75" /></a>
        <span><a href="{% url create_transfer_url project.shipment_transfer_type %}?project_id={{project.id}}"><img src="/media/images/shiptransbut.gif" alt="{{ project.get_shipment_transfer_type_display }}" width="30" height="26" /></a></span>
        </div>
        {% endif %}
      {% endwith %}
    {% endfor %}
  </div>
</div>

{% endblock content %}
