{% load query_tags %}

{% ifnotequal paginator.num_pages 1 %}

    {% if page.has_previous %}
    <a rel="prev" href="{% url transfer_list %}?{% querystring query username=user.username %}&p={{ page.previous_page_number }}"><img src='/media/images/pageprev.gif' alt='previous page' /></a>
    {% endif %}
    <span>Page:</span>
    {% if page_info.has_more_than_ten %}
        {% if page_info.start_hellip %}
        <a href='{% url transfer_list %}?{% querystring query username=user.username %}&p=1'>1</a>
        &hellip;
        {% endif %}
        {% for page_num in page_info.show_range %}
            {% ifequal page_num page_info.page_num %}
        {{ page_num }}
            {% else %}
        <a href='{% url transfer_list %}?{% querystring query username=user.username %}&p={{ page_num }}'>{{ page_num }}</a>
            {% endifequal %}
        {% endfor %}
        {% if page_info.end_hellip %}
        &hellip;
        <a href='{% url transfer_list %}?{% querystring query username=user.username %}&p={{ paginator.num_pages }}'>{{ paginator.num_pages }}</a>
        {% endif %}
    {% else %}
        {% for page_num in paginator.page_range %}
            {% ifequal page_num page_info.page_num %}
        {{ page_num }}
            {% else %}
        <a href='{% url transfer_list %}?{% querystring query username=user.username %}&p={{ page_num }}'>{{ page_num }}</a>
            {% endifequal %}
        {% endfor %}
    {% endif %}
    {% if page.has_next %}
    <a rel="next" href="{% url transfer_list %}?{% querystring query username=user.username%}&p={{ page.next_page_number }}"><img src='/media/images/pagenext.gif' alt='next page' /></a>
    {% endif %}

{% endifnotequal %}
