{% extends "base.html" %}

{% block content %}

<div id="project">
    <div id="projectDetails">
	    <h3>Project {{ project.name }} details</h3>
	    <ul>
	      <li>Contact Name: {{ project.contact_name }}</li>
	      <li>Phone Number: {{ project.contact_phone }}</li>
	      <li>Email: {{ project.contact_email }}</li>
	      <li>Shipping Sddress: {{ project.shipping_address }}</li>
	      <li>received policy: <p>{{ project.received_policy }}</p></li>
	    </ul>
    </div>
</div>
{% endblock %}