{% extends "base.html" %}

{% block link %}
	{{ block.super }}
	<style type="text/css" >
	@import url(/media/css/deposit_forms.css);
	</style>
{% endblock link %}

{% block nav %}
  <div id="nav">
    <ul id="navlist">
      <li id="home">|&nbsp;<a class="on" href="{% url overview_url user.username %}">>Home</a></li>
      {% for project in deposit_user.projects.all %}
        {% if project.network_transfer_type %}
	      <li id="net_transfer">|&nbsp;<a href="{% url create_transfer_url project.network_transfer_type %}?project_id={{project.id}}">Create Network Transfer</a></li>
        {% endif %}
        {% if project.shipment_transfer_type %}
	      <li id="ship_transfer">|&nbsp;<a href="{% url create_transfer_url project.shipment_transfer_type %}?project_id={{project.id}}">Create Shipment Transfer</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock nav %}

{% block content %}

<div id="project">
    <div id="projectDetails">
	    <h3>Project {{ project.name }} details</h3>
	    <ul>
	      <li>Contact Name: {{ project.contact_name }}</li>
	      <li>Phone Number: {{ project.contact_phone }}</li>
	      <li>Email: {{ project.contact_email }}</li>
	      <li>Shipping Address: {{ project.shipping_address }}</li>
	      <li>Received Policy: <p>{{ project.received_policy }}</p></li>
	    </ul>
    </div>
</div>
{% endblock %}