{% extends "base.html" %}

{% block link %}
	{{ block.super }}
	<style type="text/css" >
		@import url(/media/css/deposit_forms.css);
	</style>
{% endblock link %}

{% block nav %}
  <div id="nav">
    <ul id="navlist">
      <li id="home">|&nbsp;<a class="on" href="{% url overview_url user.username %}">>Home</a></li>
      {% for project in deposit_user.projects.all %}
        {% if project.network_transfer_type %}
	      <li id="net_transfer">|&nbsp;<a href="{% url create_transfer_url project.network_transfer_type %}?project_id={{project.id}}">Create Network Transfer</a></li>
        {% endif %}
        {% if project.shipment_transfer_type %}
	      <li id="ship_transfer">|&nbsp;<a href="{% url create_transfer_url project.shipment_transfer_type %}?project_id={{project.id}}">Create Shipment Transfer</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock nav %}

{% block content %}

<div id="content">
  <div id="transfer">
    <div id="transferDetails">
	    <h3>Transfer {{ transfer.id }} details</h3>
	    <ul>
	      <li>Package IDs: {{ transfer.package_ids }}</li>
	      <li>User: <a href="{{ transfer.user.get_absolute_url }}">{{ transfer.user }}</a></li>
	      <li>Project: <a href="{{ transfer.project.get_absolute_url }}">{{ transfer.project }}</a></li>
	      <li>Initiated: {{ transfer.create_timestamp }}</li>
	      <li>Received: Not yet received</li>
            {% if transfer.received_timestamp %}
                <li>Received: {{ transfer.received_timestamp }}</li>
                <li>Received by: <a href="{% url user_url transfer.received_by.username %}">{{ transfer.received_by}}</a></li>
            {% else %}
                <li>Received: Not yet received</li>
            {% endif %}
	        {% block transfer_content %}{% endblock %}
	    </ul>
    </div>
    <div id="receivedPolicy">
	    <h3 class="red">Reminder of received policy for {{ transfer.project }}:</h3>
        <p>{{ transfer.project.received_policy }}</p>
    </div>
    {% if user.is_staff and not transfer.received_timestamp %}
        <div id="markReceived">
	      <div id="bottom_nav">
            <h3>Mark received</h3>
            <form method="post" action="{% url transfer_received_url transfer.id %}">
		      <fieldset id="submit">
			      <input class="submit" name="submit" type="submit" value="Mark received" />
			      &nbsp;&nbsp;<img src="images/back.gif" alt="" />&nbsp;<a href="#">Back to Reports</a>
	          </fieldset>
            </form>
          </div>
        </div>
    {% endif %}
  </div>
</div>
{% endblock %}