{% extends "base.html" %}

{% block styles_extra %}
    <style type="text/css" >
    @import url(/media/css/deposit_forms.css);
    </style>
{% endblock styles_extra %}

{% block content %}

{% if form.errors %}
<h3 class="red">Please check your form and resubmit.</h3>
<br />
{% endif %}
<form action="create{{ transfer_type }}" method="POST">
    <fieldset>
        <input type="hidden" name="project_id" value="{{ project_id }}" />
    {% for field in form %}
        {{ field.label_tag }}
        {% if field.field.required %}
            {% if field.errors %}
            {% else %}
            *
            {% endif %}
        {% endif %}
        {% if field.errors %}
            <span class="errorlist">{{ field.errors.as_text }}</span>
        {% endif %}
        <br />
        {{ field }}
        <p>
        {{ field.help_text }}
        </p>
    {% endfor %}
    </fieldset>
    <div class="bottom_nav">
        <fieldset id="submit">
            <input class="submit" name="submit" type="submit" value="Submit" />
        </fieldset>
    </div>
</form>

{% endblock %}
