{% extends "base.html" %}

{% block content %}
<div id="transfer">
    <h1>Transfer {{ transfer.id }}</h1>
    <div id="transferDetails">
        <h1>Transfer details</h1>
        <dl>
            <dt>Package ids</dt><dd>{{ transfer.package_ids }}</dd>
            <dt>User</dt><dd><a href="{{ transfer.user.get_absolute_url }}">{{ transfer.user }}</a></dd>
            <dt>Project</dt><dd><a href="{{ transfer.project.get_absolute_url }}">{{ transfer.project }}</a></dd>
            <dt>Initiated</dt><dd>{{ transfer.create_timestamp }}</dd>
            {% block transfer_content %}{% endblock %}
        </dl>
    </div>
</div>
{% endblock %}