{% extends "base.html" %}

{% block styles_extra %}
    <style type="text/css" >
    @import url(/media/css/deposit_table.css);
    @import url(/media/css/deposit_forms.css);
    </style>
{% endblock styles_extra %}

{% block title %}My Transfers{% endblock title %}

{% block content %}
  <div id="page_head"><span style="width: 100%;"><a id="skip_menu">&nbsp;</a></span>
	<h1>My Transfers</h1>
  </div>
  <div id="bottom_nav">
    <h2>Filters</h2>
    <form method="get" action=".">
        {% if query.username %}
            <input type="hidden" name="username" value="{{ query.username }}" />
        {% endif %}
        {% if query.project_id %}
            <input type="hidden" name="project_id" value="{{ query.project_id }}" />
        {% endif %}
        <input type="checkbox" name="include_received" {% if query.include_received %} checked="true" {% endif %} />
        <label for="include_received">
		    Include received
		</label>
		<br/>
	  <fieldset id="submit">
	      <input class="submit" name="submit" type="submit" value="Refresh" />
      </fieldset>
    </form>
  </div>
  <div id="transferList">
    <table border="0">
	    <tr>
        	<th class="tabs on" scope="col">All Transfers</th>
	        <th class="tabs pagenav" colspan="2" scope="col"><a href="#"><img src="images/prev.gif" alt="previous" width="9" height="9" /></a>&nbsp;PAGE: <a href="#">1</a>&nbsp;<a href="#"><img src="images/next.gif" alt="next" width="9" height="9" /></a></th>
      	</tr>
      	<tr>
      	  <th scope="col">Transfer</th>
      	  <th scope="col">Project</th>
      	  <th scope="col">User</th>
      	  <th scope="col">Transfer Type</th>
      	  <th scope="col">Initiated</th>
      	  <th scope="col">Package IDs</th>
      	  <th scope="col">Status</th>
      	</tr>
        {% for transfer in transfers %}
        <tr>
            <td><a class="bold" href="{{ transfer.get_absolute_url }}">{{ transfer.id }}</a></td>
            <td><a href="{{ transfer.project.get_absolute_url }}">{{ transfer.project }}</a></td>
            <td><a href="{{ transfer.user.get_absolute_url }}">{{ transfer.user }}</a></td>
            <td>{{ transfer.transfer_type }}</td>
            <td>{{ transfer.created }}</td>
            <td>{{ transfer.package_ids }}</td>
            <td>{% if transfer.received %}{{ transfer.received }}{% endif %}</td>
        </tr>
        {% endfor %}

    </table>
  </div>
{% endblock %}
