{% extends "base.html" %}

{% block link %}
	{{ block.super }}
	<style type="text/css" >
	@import url(/media/css/deposit_table.css);
	@import url(/media/css/deposit_forms.css);
	</style>
{% endblock link %}

{% block nav %}
  <div id="nav">
    <ul id="navlist">
      <li id="home">|&nbsp;<a class="on" href="{% url user_url user.username %}">>Home</a></li>
      {% for project in deposit_user.projects.all %}
        {% if project.network_transfer_type %}
	      <li id="net_transfer">|&nbsp;<a href="{% url create_transfer_url project.network_transfer_type %}?project_id={{project.id}}">Create Network Transfer</a></li>
        {% endif %}
        {% if project.shipment_transfer_type %}
	      <li id="ship_transfer">|&nbsp;<a href="{% url create_transfer_url project.shipment_transfer_type %}?project_id={{project.id}}">Create Shipment Transfer</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock nav %}

{% block content %}

<div id="page_head">
  <h2>New Transfer</h2>
</div>

<div id="create{{ transfer_type }}">
  <div id="bottom_nav">
    <form action="create{{ transfer_type }}" method="POST">
	   	<fieldset>
        {{ form.as_p }}
        </fieldset>
        <input type="hidden" name="project_id" value="{{ project_id }}" />
	  	<fieldset id="submit">
	   		<input class="submit" name="submit" type="submit" value="Submit" />
		</fieldset>
    </form>
  </div>
</div>

{% endblock %}