{% extends "base.html" %}
{% load query_tags %}

{% block styles_extra %}
    <style type="text/css" >
    @import url(/media/css/deposit_forms.css);
    </style>
{% endblock styles_extra %}

{% block content %}

<h3>User Details</h3>
<ul>
  <li>Is Active?: {{ deposit_user.is_active }}</li>
  <li>First Name: {{ deposit_user.first_name }}</li>
  <li>Last Name: {{ deposit_user.last_name }}</li>
  <li>Email: {{ deposit_user.email }}</li>
{% with deposit_user.get_profile as profile %}
  <li>Address: {{ profile.address }}</li>
  <li>Organization: {{ profile.organization }}</li>
  <li>Phone: {{ profile.phone }}</li>
  {% if deposit_user.is_staff %}
  <li><strong>Deposit Staff</strong></li>
  {% endif %}
  {% if deposit_user.is_superuser %}
  <li><strong>Deposit Superuser</strong></li>
  {% endif %}
{% endwith %}
</ul>

<h2>Update name/email</h2>
<form method="post" action='{% url user_command_url deposit_user.username "user" %}'>
    <fieldset>
        <label for="id_first_name">First Name</label><br />
        <input id="id_first_name" name="first_name" type="text" maxlength="30" value="{{ deposit_user.first_name }}" /><br />

        <label for="id_last_name">Last Name</label><br />
        <input id="id_last_name" name="last_name" type="text" maxlength="30" value="{{ deposit_user.last_name }}" /><br />

        <label for="id_email">E-mail Address</label>
        <span class="errorlist">{{ user_form.email.errors.as_text }}</span>
        <br />
        <input id="id_email" name="email" type="text" maxlength="75" value="{{ deposit_user.email }}" /><br />
    </fieldset>
    <div class="bottom_nav">
        <fieldset id="submit_name">
            <input class="submit" name="submit_name" type="submit" value="Update" />
        </fieldset>
    </div>
</form>

<h2>Update contact information</h2>
<form method="post" action='{% url user_command_url deposit_user.username "profile" %}'>
    <fieldset>
        {% with deposit_user.get_profile as profile %}
        <label for="id_organization">Organization</label><br />
        <input id="id_organization" name="organization" type="text" maxlength="150" value="{{ profile.organization }}" /><br />

        <label for="id_address">Address</label><br />
        <input id="id_address" name="address" type="text" maxlength="255" value="{{ profile.address }}" /><br />
        
        <label for="id_phone">Phone</label><br />
        <input id="id_phone" name="phone" type="text" maxlength="10" value="{{ profile.phone }}" /><br />
        {% endwith %}
    </fieldset>
    <div class="bottom_nav">
        <fieldset id="submit_contact">
            <input class="submit" name="submit_contact" type="submit" value="Update" />
        </fieldset>
    </div>
</form>


<h2>Change Password</h2>
{% if password_message %}
    <h3 class="errorlist">{{ password_message }}</h3>
{% endif %}
<form method="post" action='{% url user_command_url user.username "password" %}'>
        <fieldset>
            <label for="id_old_password">Old Password</label><br />
            <input id="id_old_password" name="old_password" type="password" /><br />

            <label for="id_new_password1">New Password</label><br />
            <input id="id_new_password1" name="new_password1" type="password" /><br />

            <label for="id_new_password2">New Password confirmation</label><br />
            <input id="id_new_password2" name="new_password2" type="password" /><br />
        </fieldset>
        <div class="bottom_nav">
            <fieldset id="submit_pass">
                <input class="submit" name="submit_pass" type="submit" value="Change" />
            </fieldset>
        </div>
</form>
  </div>
</div>

{% endblock content %}
