/* RDC Deposit Table CSS Document */
#content {
	border: 0;
	padding: 0;
	background-color: #fff;
}
/******************************table ***************/


table {
	width: 76em;
	height: auto;
	margin: 1em auto 1em 0;
	border-collapse: collapse;
	border: 1px solid #e5e5e5;
	font: normal 90%/100% verdana, helvetica, sans-serif;
	text-align:left;
	padding: 0.5em;
	background-color: #f7f7f7;
}
table th {
	width: auto;
	height: auto;
	font: bold 90%/120% verdana, helvetica, sans-serif;
	border-right: 0;
	border-bottom: 0;
	background-color: #f7f7f7;
	color: #333;
	text-align:left;
	padding: 1.0em;
}
th.tabs {
	background-color: #fbf8e3;
	font-weight: 100;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
th.on {
	background-color: #f7f7f7;
	border-bottom: 0;
}
table td {
	width: auto;
	height: auto;
	font: normal 90%/120% verdana, helvetica, sans-serif;
	border-left: 0;
	border-bottom: 0;
	white-space: nowrap;
	color: #666;
	text-align: left;
	vertical-align: top;
	padding: 0.5em 0.5em 0.5em 1.0em;
	background: transparent url(/media/images/tabledot.gif) bottom left repeat-x;
}
td.last {
	background: transparent;
}
td.notreceived {
	color: #900;
}
a.bold {
	font-weight: bold;
}
td a:link, td a:visited {
	color: #369;
	border: 0;
}
th.pagenav {
	text-align: right;
}
th a:link img, th a:active img, th a:hover img, th a:visited img {
	border: 0;
}
/*****************end table*************************/

